<div class="top-staffs">
    <div class="text-center pt-12 main-title">
        ソシエ・ヘアーの講師陣<br/>
        <span class="font-meiryo">⊶⊹⊷</span>
    </div>
    <div class="flex content gap-8 pt-2">
        <div class="wrapper">
            <div class="avt pic1">
            </div>
            <div class="short-info">
            </div>
        </div>
        <div class="description pl-4">
            ソシエヘアー技術トレーナとして、社内<br/>
            外の講習・撮影と幅広く活動しています。<br/>
            60年以上続くサロンのノウハウと最新の考<br/>
            え・スキルを融合させたカリキュラムを準<br/>
            備しておりますので、皆さん一緒にに頑張<br/>
            りましょう！
            <div class="flex justify-end text-lg font-normal">
                <div>
                    ヘアーアイ教育課　課長<br/>
                    木浪学園卒業
                </div>
            </div>
        </div>
    </div>

    <div class="flex content gap-8 pt-8">
        <div class="wrapper">
            <div class="avt pic2">
            </div>
            <div class="short-info font-bold">
                瀬川トレーナー
            </div>
        </div>
        <div class="description pl-4">
            カラーリストとして、サロンで働く傍ら、<br/>
            カラーの教育も行っております。デザイン<br/>
            カラー・ハイトーン・脱白髪染め等、カラ<br/>
            ーの基礎から応用まで幅広く教育をしてい<br/>
            ます。カラーに関することでしたらなんで<br/>
            も聞いてください！
            <div class="flex justify-end text-lg font-normal">
                <div>
                    カラーリスト<br/>
                    横浜fカレッジ学校卒業
                </div>
            </div>
        </div>
    </div>

</div>
<div class="sample-img">
    <div class="img-wrapper flex gap-7">
        <img src="assets/image/17.jpg"/>
        <img src="assets/image/16.jpg"/>
        <img src="assets/image/20.jpg"/>
    </div>
    <div class="description">
        年の近い先輩がマンツーマンでサポート!
    </div>
</div>
<div class="top-model text-center">
    <div class="start-text pt-8">
        クリエイティブチーム
    </div>
    <div class="flex justify-center">
        <div class="p-6 gap-40px grid grid-cols-3">
            <div class="avt pic1">
            </div>
            <div class="avt pic2">
            </div>
            <div class="avt pic3">
            </div>
        </div>
    </div>
    
    <div class="end-text">
        コレクション撮影やSNS掲載用の撮影など行っています！
    </div>
</div>
<div class="img-part"></div>
