.top-staffs{
    height: 870px;
    background-color: #eeebe2;
    font-family: 'meiryo';
    .avt{
        width: 230px;
        height: 270px;
        background-size: cover;
        &.pic1{
            background-image: url("assets/image/part4_1.png");
        }
        &.pic2{
            background-image: url("assets/image/part4_2.png");
        }
    }
    .content{
        padding-right: 100px;
        padding-left: 100px;
    }
    .short-info{
        background: #f7f5f1;
        text-align: center;
        height: 51px;
        font-size: 28px;
    }
    .description{
        background: #f7f5f1;
        color: #2f2722;
        border-radius: 50px;
        padding: 20px 30px 10px 36px;
        font-size: 28px;
        font-weight: 600;
        width: 100%;
        line-height: 40px;
    }
}
.main-title{
    font-family: 'yumin';
    font-size: 35px;
    line-height: 30px;
    font-weight: 600;
}
.sample-img{
    height: 536px;
    width: 100%;
    position: relative;
    overflow: hidden; /* hide the overflow here not on the pseudo element */
    .img-wrapper{
        padding: 100px 90px 40px 90px;
    }
    img{
        height: 289px;
        width: auto;
    }
    .description{
        text-align: center;
        font-size: 50px;
        font-family: 'pmincho';
    }
}
.sample-img::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1080px;
    z-index: -10;
    transform: rotate(90deg);
    background-image: url("assets/image/Background.jpg");
    background-size: contain;
}
.top-model{
    height: 580px;
    background: #8a7055;
    .gap-40px{
        gap: 100px;
    }
    .start-text{
        font-size: 50px;
        color: white;
        font-weight: 600;
        font-family: 'pmincho';
    }
    .avt{
        width: 250px;
        height: 360px;
        background-size: cover;
        &.pic1{
            background-image: url("assets/image/12.jpg");
        }
        &.pic2{
            background-image: url("assets/image/13.jpg");
        }
        &.pic3{
            background-image: url("assets/image/14.jpg");
        }
    }
    .end-text{
        font-size: 35px;
        color: #fff14b;
        font-weight: bolder;
    }
}
.img-part{
    width: 100%;
    height: 824px;
    background-size: cover;
    background-image: url("assets/image/img_part.jpg");
}