<div class="wrapper">
    <div class="qr-wrapper">
        <div class="qr-part flex items-center">
            <div class="flex gap-7 items-center ">
                <img src="assets/image/qr-code.png"/>
                <div class="title">
                    <span class="sub-title">LINEでカンタンエントリー<br/></span>
                    ご相談やご質問はご気軽に♪
                </div>
            </div>
        </div>
    </div>
    <div class="img-wrapper p-1">
      <img src="assets/image/img-extra.png"/>
      <div class="flex justify-center items-center">
        
      </div>
      
    </div>
</div>
