<div class="event">
    <div class="pb-2 title">
        社内イベント<br/>
        <span class="font-meiryo">⊶⊹⊷</span>
    </div>
    <div class="img-wrapper">
        <div class="part1">
          <img src="assets/image/0205A.png"/>
          <div class="flex gap-12 pt-4">
            <img src="assets/image/C.png"/>
            <img src="assets/image/A.png"/>
          </div>
        </div>
        <div class="part2 flex justify-center">
          <div class="w-full">
            <img src="assets/image/B.png" class="pt-2 pb-5"/>
            <img src="assets/image/D.png" class="spec-img"/>
          </div>
        </div>
    </div>
    <div class="description pt-6">
      年に一度、全国のスタッフが<br/>
      集結しショーとコンテストを開催しています！
    </div>
</div>
