<div class="mission">
    <div class="pd-50">
      <div class="text-center main-title">
        ソシエ・ワールドの魅力<br/>
        <span class="font-meiryo">⊶⊹⊷</span>
      </div>
        <div class="pt-3 grid grid-cols-2 gap-8 px-20">
            <div class="card">
                <div class="wrapper pic1">
                  <div class="inner flex justify-center items-center">
                    <div class="title">研修制度</div>
                  </div>
                </div>
                <div class="box-text bg-white">
                  <ul>
                    <li>自社アカデミー</li>
                    <li>新人研修</li>
                    <li>フォローアップ研修</li>
                  </ul>
                </div>
            </div>
            <div class="card">
              <div class="wrapper pic2">
                <div class="inner flex justify-center items-center">
                  <div class="title title2">キャリアアップ</div>
                </div>
              </div>
              <div class="box-text bg-white">
                <ul>
                  <li>ブラザーシスター制度</li>
                  <li>スペシャリストコース</li>
                  <li>マネジメントコース</li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="wrapper pic3">
                <div class="inner flex justify-center items-center">
                  <div class="title title3">福利厚生・待遇</div>
                </div>
              </div>
              <div class="box-text bg-white">
                <ul>
                  <li>資格制度</li>
                  <li>社会保険完備</li>
                  <li>ヘルスケア</li>
                </ul>
              </div>
          </div>
          <div class="card">
            <div class="wrapper pic4">
              <div class="inner flex justify-center items-center">
                <div class="title title4">ワークライフバランス</div>
              </div>
            </div>
            <div class="box-text bg-white">
              <ul>
                <li>年間休日１２４日</li>
                <li>長期休暇</li>
                <li>NO残業</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>
