.mission{
    background-color: #ebe5dd;
    height: 1060px;
    font-family: 'pmincho';
    .main-title{
        font-family: 'yumin';
        font-size: 45px;
        line-height: 30px;
        font-weight: 600;
    }
    .wrapper{
        background-size: cover;
        height: 280px;
        &.pic1{
            background-image: url("assets/image/6.jpg");
        }
        &.pic2{
            background-image: url("assets/image/16.jpg");
        }
        &.pic3{
            background-image: url("assets/image/8.jpg");
        }
        &.pic4{
            background-image: url("assets/image/5.jpg");
        }
        .inner{
            background-color: #fdfdfd59;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 280px;
            .title{
                font-family: 'yumindb';
                font-size: 72px;
                color: black;
                -webkit-text-fill-color: #ede3da; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1.2px;
                -webkit-text-stroke-color: black;
                &.title2{
                    font-size: 60px;
                }
                &.title3{
                    font-size: 50px;
                }
                &.title4{
                    font-size: 43px;
                }
            }
        }
    }
    .box-text{
        font-size: 30px;
        line-height: 38px;
        color: #2f2722;
        padding: 15px 20px 10px 60px;
        ul{
            list-style: unset;
        }
    }
    .pd-50{
        padding-top: 70px;
    }
}