<div class="general-info p-5 pt-6">
  <div class="flex justify-end">
    <div class="box-1 px-2 pb-2">
      <div class="font-semibold">
        <span style="font-size: 45px">お客さまのために心を込めて <br/></span>
        より美しく、より豊かに、 <br/>
        より自分らしく生きるために<br/>
      </div>
      すべての人に最高の美しさをお届けしたい。<br/>
      そのために必要なのはスタッフ一人ひとりが<br/>
      最高の技術を身につけること。 <br/>
    </div>
  </div>
  <div class="box-2 px-2 pb-2">
    <span class="font-semibold">「手に心をのせて」<br/></span>
    その想いをもとに一つひとつの技術を<br/>
    日々磨き上げていきます。<br/>
  </div>
</div>
