<div class="benefit" id="benefit">
  <div class="lean-text">
    <div class="trans">年間<span style="font-size: 50px">123</span>日</div>
    <div class="line-trans">
      <hr class="line-1"/>
      <hr class="line-2"/>
      <hr class="line-3"/>
    </div>
  </div>
  <div class="pdr-50 pt-4">
    <div class="flex justify-center items-center">
      <div class="text-center pr-3 left-text">
        <div>ソシエの</div>
        <div class="bg-black color-yl px-3 font-meiryo text-lg">BENEFIT</div>
        <div>
          イイところ
        </div>
      </div>
      <div class="pb-6">
        <div class="top-title">
          完全週 休2日制
        </div>
      </div>

    </div>
  </div>
    
    <div class="pt-6 flex px-6">
        <div class="grid grid-cols-4 gap-4">
            <div class="box">
              <div>有給休暇</div>
              <div class="second-line">
                10日/年
              </div>
            </div>
            <div class="box">
              <div>前期・後期休暇</div>
              <div class="second-line">
                各4日/年
              </div>
            </div>
            <div class="box">
              <div>アニバーサリ<br/>ー休暇</div>
              <div class="second-line">
                1 日/年
              </div>
            </div>
            <div class="box yl">
              前期<br/>
              ・<br/>
              後期休暇
            </div>
        </div>
        <div class="px-10 lst leading-loose">
            <ul>
                <li>社会保完備</li>
                <li>社宅制度有</li>
                <li>ボーナス年 2 回支給</li>
                <li>社員割引・特別従業員販売</li>
              </ul>
        </div>
    </div>
</div>
<div class="example pt-4">
  <div class="text-center pdt-35 main-title">
    ソシエヘアーの特徴<br/>
     <span class="font-meiryo">⊶⊹⊷</span>
  </div>
  <div class="px-5 grid grid-cols-3 gap-4">
    <div class="card">
      <div class="img">
        <img src="assets/image/part3_1.png"/>
      </div>
      <div class="box-text">
        充実の教育制度
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img src="assets/image/part3_2.png"/>
      </div>
      <div class="box-text">
        楽しい社内イベント
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img src="assets/image/part3_3.png"/>
      </div>
      <div class="box-text">
        多彩なクリエイティブ活動
      </div>
    </div>
  </div>
</div>
