.benefit{
    .color-yl{
        color: #fff14b;
    }
    .left-text{
        font-family: 'yumindb';
        font-size: 21px;
    }
    .lean-text{
        font-family: 'yumindb';
        font-size: 30px;
        text-align: end;
        .trans{
            width: 700px;
            transform-origin: center;
            transform: rotate(20deg);
            translate: 220px -40px;
        }
        .line-trans{
            width: 700px;
            transform-origin: center;
            transform: rotate(20deg);
            translate: 220px -40px;
            display: flex;
            justify-content: end;
            hr{
                width: 14px;
                height: 1px;
                border-color: #2f2722;
                &.line-1{
                    transform: rotate(230deg);
                    translate: -38px -65px;
                }
                &.line-2{
                    transform: rotate(275deg);
                    translate: -37px -70px;
                }
                &.line-3{
                    transform: rotate(130deg);
                    translate: -35px -65px;
                }
            }
        }
    }
    .pdr-50{
        padding-right: 200px;
    }
    .top-title{
        font-size: 80px;
        font-family: 'yumindb';
        background: linear-gradient(to right, black, black) no-repeat;
        background-size: 100% 3px;
        background-position: left bottom;
    }
    .lst{
        font-size: 20px;
        padding-right: 0 !important;
    }

    ul{
        list-style: unset;
        font-family: 'meiryo';
    }
    .box{
        background: #ffffff;
        color: #2f2722;
        width: 170px;
        height: 170px;
        &.yl{
            background-color: #fff14b;
            line-height: 22px;
        }
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'meiryo';
        .second-line{
            padding-top: 10px;
            font-size: 30px;
            font-weight: bold;
            color: #b69d61;
        }
    }
    font-size: 24px;
    height: 530px;
    width: 100%;
    position: relative;
    overflow: hidden; /* hide the overflow here not on the pseudo element */
}
.benefit::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1080px;
    z-index: -10;
    transform: rotate(90deg);
    background-image: url("assets/image/background_part3.jpg");
    background-size: contain;
}
.main-title{
    font-family: 'yumin';
    font-size: 35px;
    line-height: 30px;
    font-weight: 600;
}
.example{
    height: 440px;
    background-image: linear-gradient(180deg, #ffffff, #8a7055);
    .pdt-35{
        padding-top: 35px;
    }
    .card{
        height: 250px;
        .img{
            width: 100%;
            img{
                height: 100%;
            }
        }
        .box-text{
            width: 100%;
            overflow: hidden;
            background: #f5f2ee;
            font-size: 28px;
            text-align: center;
            font-family: 'meiryo';
        }
    }
}
